<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Hello World!</h1>
      <h4 class="subheader">你好</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="images/sj.jpg" />
      <p>My name is Siang Jun and I'm currently an Informatics student in the University of Edinburgh. In the mean time, here's a few fun facts about me:</p>
    <ul>
      <li>Genuinely loves light mode over dark mode</li>
      <li>Plays the piano</li>
      <li>Plays video games</li>
      <li>Teh tarik is life</li>
    </ul>
    </div>
  </main>
</body>
</html>