<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <header>
    <% include ../helpers/navbar %>
  </header>

  <main class="contact-container">
    <div class="page-header">
      <h1>Find me on my social media, where I post weird stuff.</h1>
    </div>
    <div class="content">
      <a class="contact-icon-link" href="https://www.twitter.com/tablesaltjen" target="_blank">
        <i class="contact-icon fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a class="contact-icon-link" href="https://www.linkedin.com/in/siangjun/" target="_blank">
         <i class="contact-icon fa fa-linkedin-square"></i>
      </a>
      <a class="contact-icon-link" href="https://github.com/siangjun" target="_blank">
        <i class="contact-icon fa fa-github-square"></i>
      </a>
    </div>
  </main>
</body>
</html>