<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <header>
    <% include ../helpers/navbar %>
  </header>
  
  <div class="page-header">
    <h1>This is where I'd show off my personal projects, if I had any.</h1>
  </div>

</body>
</html>